<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="../../js/vue.js"></script>
  <div id="app">
    <cpn></cpn>

    <cpn>
      <template slot-scope="slot">
        <!-- 结尾还有- -->
        <!-- <span v-for="item in slot.data">{{item}} - </span> -->
        <!-- 利用join函数，能够解决结尾有-的问题 -->
        <span>{{slot.data.join(' - ')}}</span>
      </template>
    </cpn>


    <cpn>
      <template slot-scope="slot">
        <!-- 结尾还有- -->
        <!-- <span v-for="item in slot.data">{{item}} - </span> -->
        <!-- 利用join函数，能够解决结尾有-的问题 -->
        <span>{{slot.data.join(' * ')}}</span>
      </template>
    </cpn>
  </div>
  
  <template id="cpn">
    <div>
      <!-- 核心 -->
      <slot :data="pLanguages">
        <ul>
          <li v-for="item in pLanguages">{{item}}</li>
        </ul>
      </slot>

    </div>
  </template>

  <script>
    const app = new Vue({
      el: '#app',
      data: {},
      methods: {},
      components: {
        cpn: {
          template: '#cpn',
          data() {
            return {
              pLanguages: ['html','java','javascript','vue','c++','c#']
            }
          }
        }
      }
    });
  </script>
</body>
</html>